@import "helpers/fonts";
@import "helpers/grid";
@import "helpers/colors";
@import "helpers/fontsize";

@import "components/image";
@import "components/blog";
@import "components/menu";
@import "components/breadcrumbs";
@import "components/form";
@import "components/header";
@import "components/footer";
@import "components/page";
@import "components/links";
@import "components/status-messages";
@import "components/blog-teaser-slider";
@import "components/pager";
@import "components/animation";

* {
    box-sizing: border-box;
    font-family: "Mukta Regular";
}
body {
    // General styling
    color: $color-primary;
    background-color: $color-background;
    margin: 0;

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
}