

@import "helpers/grid";
@import "helpers/colors";
@import "helpers/fonts";
@import "helpers/fontsize";

@import "components/image";
@import "components/blog";
@import "components/menu";
@import "components/breadcrumbs";
@import "components/form";
@import "components/header";
@import "components/footer";
@import "components/page";

* {
    box-sizing: border-box;
    font-family: "Mukta Regular";
}
body {
    // General styling
    color: $color-primary;
    background-color: $color-background;
    margin: 0;

    // Link styling
    a:link {
        color: $color-primary;
        text-decoration: none;
    }
    a:hover, a:active, .is-active:link {
        color: $color-secondary;
    }

}