// All fonts

// Mukta
@font-face {
    font-family: "Mukta Regular";
    src: url(fonts/Mukta/Mukta-Regular.ttf);
}
@font-face {
    font-family: "Mukta Bold";
    src: url(fonts/Mukta/Mukta-Bold.ttf);
}

// Monaco
@font-face {
    font-family: "Monaco";
    src: url(fonts/Monaco/Monaco.ttf);
}

// Staatliches
@font-face {
    font-family: "Staatliches";
    src: url(fonts/Staatliches/Staatliches-regular.ttf);
}


