.o-article__teaser-slider {
    position: relative;
    padding-right: 1rem;
    width: 500px;

    .a-image {
        height: 230px;
    }
    .a-blog-title {
        position: absolute;
        bottom: 20px;
        right: 1rem;
        background-color: $color-background-secondary;
        font-size: 14pt;
        padding: 0.5rem 1rem;
        font-family: 'Staatliches';
    }

    .a-blog-content {
        display: none;
    }

    // Date.
    .m-meta-data div {
        position: absolute;
        padding: 0.2rem 0.3rem;
        font-size: 9pt;
        top: 10px;

    }
    .m-meta-data div:first-child {
        background-color: $color-background-secondary;
        left: 10px;
    }

    // Location
    .m-meta-data div:last-child {
        background-color: $color-secondary;
        color: $color-background-secondary;

        right: 26px;
    }
}

// View for content items (like blog).
.a-view-title {
    font-family: 'Staatliches';
    font-size: 22pt;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.a-more-link {
    display: flex;
    justify-content: flex-end;

    a {
        border: 1px solid $color-primary;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        font-family: staatliches;
        margin-bottom: 2rem;
    }

    a:hover {
        color: $color-background-secondary;
        background-color: $color-primary;
    }
}