.o-page {
    padding: 0rem 2rem;
    padding-top: 3rem;


    // paragraphs
    .m-text-w-image {
        display: flex;
    }
    .a-right {
        flex-direction: row-reverse;
    }

    @media screen and (min-width: 600px) {
        .a-left > div:first-of-type {
            padding-right: 4rem;
        }
        .a-right > div:first-of-type {
            padding-left: 4rem;
        }
    }
}